.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
}
.dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
}
.dashboard{
    background: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
body{
    background: #f1f1f1;
}

.settingsform{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.settingsCartForm{
    width: 100%;
}




.myproductsheader{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: center;
    color: white;
}


.formsets{
    width: auto;
    height: auto;
}



form{
    border-radius: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.top-left {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 10%;
}

.btnSize{
    scale: 80%;
}


.menu {
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}


.navtitlebutton{
    margin-right: 200px;
}
.navDropbutton{
    margin-right: -200px;
}

.menu-title {
    width: 130px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    background: #000000;
    color: #ffffff;
    transition: 0.3s background-color;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-decoration: none;

}






.menu-dropdown {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    background: rgba(128, 128, 128, 0.57);
    border-radius:10px ;
    font-size: 18px;
    color: #ffffff;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
}



.menu:not(:hover) > .menu-dropdown {
    padding: 0px 0;
    background: rgba(128, 128, 128, 0.57);
    z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
    border-top-color: rgba(128, 128, 128, 0.57);
}

.menu:not(:hover) > .menu-title:after {
    border-bottom-color: #000000;
}

.menu-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}

.hList > * {
    float: left;
}

.hList > * + * {
    margin-left: 0;
}


li {
    list-style-type: none;
}

.resetbutton {
    display: flow;
    margin-top: 5px;
    width: 50%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 8px;


}

.resetbutton:hover {
    background: #333;
    transition: all .5s
}

.mybtn{
    width: 100%;
}

.currency-wrap{
    position:relative;
}

.currency-code{
    position:absolute;
    left:4px;
    top:6.5px;
}

.HomeDesc{
    animation: slide 1s steps(30, end), scale 1s steps(60, end);
}


.filter-buttonMyProducts{
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    width: 150px;

}

.filter-buttonMyProducts:focus{
    background-color: rgba(0, 0, 0, 0.15);
}

.filter-buttonAll{
    background: none;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.filter-buttonAll:focus{
    background-color: rgba(0, 0, 0, 0.15);
}








